- var css = require('./card-css.json');

article.card
  .card-content
    span.card-title Apresentação
    p I am a very simple card. I am good at containing small bits of information.
  footer.card-action
    a(href='../../docs/2019_02_26.pptx') Slide
    a(href='../../docs/2019_02_26.docx') PDF

