- var css = require('./card-css.json');

article.card: .card-content
  h4.card-title Apresentação
  p I am a very simple card. I am good at containing small bits of information.
  p I am convenient because I require little markup to use effectively.
  footer.card-action
    a(href='../../docs/2019_02_26.pptx') Slide
    a(href='../../docs/2019_02_26.docx') PDF

