- var css = require('./header-css.json');

header
  nav.nav-wrapper
    h1: a(href='/') R&Planning
    ul#nav-mobile.right.hide-on-med-and-down
      li: a(href='/si') Sistema de informação
      li: a(href='/eng') Engenharia de Software

