- var css = require('./footer-css.json');

footer.page-footer
  .container: .row
    .col.l6.s12
      h5.white-text R&Planning
      p.grey-text.text-lighten-4 Project to organize application documentation
  .footer-copyright: .container
    a.grey-text.text-lighten-4.right(href='https://github.com/fatec-noobs' target='_blank').
      © 2019 Copyright fatec-noobs

