- var css = require('./footer-css.json');

footer.page-footer
  .container: .row
    .col.l6.s12
      h5.white-text R&Planning
      p.grey-text.text-lighten-4 Project to organize application documentation
    .col.l4.offset-l2.s12
      h5.white-textL Links
      ul
        li: a(class='grey-text text-lighten-3' href='#!') Sistema de informação
        li: a(class='grey-text text-lighten-3' href='#!') Engenharia de software
  .footer-copyright: .container
    a.grey-text.text-lighten-4.right(href='https://github.com/fatec-noobs' target='_blank').
      © 2019 Copyright fatec-noobs

