// ==================================================
// Scaffolding
// ==================================================

@import 'styles/core';
@import 'styles/reset';

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
