// ==================================================
// Scaffolding
// ==================================================

@import 'styles/core';
@import 'styles/reset';
@import 'styles/materialize';

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}
