// ==================================================
// Scaffolding
// ==================================================

@import 'styles/core';
@import 'styles/reset';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
